.mainmenu {
  &:not(:first-child) {
    margin-top: 32px;
  }

  .mainmenu-header {
    margin-bottom: 16px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .mainmenu-content {
    // box-shadow of card will be cut off
    padding-left: 8px;
    padding-right: 8px;

    display: grid;
    grid-auto-flow: column;
    column-gap: var(--container-padding);

    overflow-x: auto;
    padding-bottom: var(--scrollbar-size);

    // workaround to add padding space to the last foodcard
    // however, when used, the 1fr fill for the foodcard is lost
    // &:after {
    //   content: '';
    //   width: 1px;
    // }
  }
}

// Media queries
@media only screen and (orientation: portrait) {
  .mainmenu {
    .mainmenu-content {
      grid-template-columns: repeat(auto-fit, minmax($foodcard-min-width, 1fr));
      grid-auto-columns: minmax($foodcard-min-width, 1fr);
      grid-auto-rows: $foodcard-min-height;
    }
  }
}

@media only screen and (orientation: landscape) {
  .mainmenu {
    .mainmenu-content {
      grid-template-columns: repeat(
        auto-fill,
        minmax($foodcard-min-width * 2, 1fr)
      );
      grid-auto-columns: minmax($foodcard-min-width * 2, 1fr);
      grid-auto-rows: $foodcard-min-height * 2;
    }
  }
}
