$foodcard-portrait-width: 150px;
$foodcard-portrait-height: 200px;

$foodcard-landscape-width: 200px;
$foodcard-landscape-height: 300px;

.menu-wrapper {
  .menu {
    &:not(:last-child) {
      margin-bottom: var(--padding);
    }

    display: flex;
    flex-direction: column;

    .menu-header {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: 'menu-header-title menu-header-btn';
      align-items: center;

      .menu-header-title {
        grid-area: menu-header-title;

        @include heading-1;

        @include media(portrait) {
          font-size: 2rem;
          letter-spacing: -1px;
        }

        @include media(landscape) {
          font-size: 2.5rem;
          letter-spacing: -1.5px;
        }
      }

      .menu-header-btn {
        grid-area: menu-header-btn;
      }
    }

    .menu-content {
      padding-top: 8px;

      display: grid;
      grid-gap: var(--padding);

      @include media(portrait) {
        grid-template-columns: repeat(
          auto-fit,
          minmax($foodcard-portrait-width, 1fr)
        );
        grid-auto-rows: $foodcard-portrait-height;
      }

      @include media(landscape) {
        grid-template-columns: repeat(
          auto-fill,
          minmax($foodcard-landscape-width, 1fr)
        );
        grid-auto-rows: $foodcard-landscape-height;
      }

      &.allow-horizontal-scroll {
        grid-auto-flow: column;

        padding-left: 8px;
        padding-right: 8px;

        padding-bottom: var(--scrollbar-size);
        overflow: auto;
        @include custom-scrollbar;

        @include media(portrait) {
          grid-auto-columns: minmax($foodcard-portrait-width, 1fr);
        }

        @include media(landscape) {
          grid-auto-columns: minmax($foodcard-landscape-width, 1fr);
        }
      }
    }
  }
}
