*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;

  scrollbar-width: thin;
  scrollbar-color: var(--on-background) transparent;
}

a {
  unset: all;
  user-select: none;
  text-decoration: none;
  display: inline-block;

  &:link,
  &:visited {
    color: inherit;
  }
}

button {
  unset: all;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: inherit;

  font-family: $primary-font-family;
  font-size: 1rem;
}

input {
  unset: all;
  border: none;
  appearance: none;
  outline: none;
  color: inherit;
  font-family: $primary-font-family;
  font-size: 1rem;

  &:focus,
  &:invalid {
    outline: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  display: block;
}
