// Text
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.allow-text-selection {
  user-select: text;
}

// colors
$main-colors: 'background', 'surface1', 'surface2', 'surface3', 'primary',
  'secondary', 'error', 'success', 'warning';

@each $i in $main-colors {
  .#{$i} {
    background-color: var(--#{$i}) !important;

    @if str-index($i, 'surface') {
      color: var(--on-surface) !important;
    } @else {
      color: var(--on-#{$i}) !important;
    }
  }
}

// inputs
@mixin input-label($justifyContent: flex-start, $marginBottom: 0) {
  label {
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
    margin-bottom: $marginBottom;

    @include caption;

    .required-input {
      margin-left: 4px;
      width: 0.8em;
      height: 0.8em;
      background-color: var(--error);
      border-radius: 50%;
      align-self: start;
    }
  }
}

.input-message {
  @include body-2;
  color: inherit;
  justify-self: start;
}

.input-error-message {
  @include body-2;
  @extend .badge;
  @extend .badge-error;
  justify-self: start;
}

// Media
.responsive-img {
  max-width: 100% !important;
  height: auto !important;
}

// positioning
.place-items-center {
  display: grid;
  place-items: center;
}

@media (prefers-color-scheme: dark) {
  .invert-in-dark-mode {
    filter: brightness(0) invert(1);
  }
}

// scrollbar
@mixin custom_scrollbar {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);

    &-thumb {
      background: var(--on-background);
      border-radius: 4px;
    }
  }
}

@mixin hide_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// grid system with flexbox
$columns: 12;

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1;
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 100% / $columns * $i;
    }
    .col-offset-#{$i} {
      margin-left: 100% / $columns * $i;
    }
  }
}

// Media queries
@media only screen and (orientation: landscape) {
}

@media only screen and (orientation: portrait) {
  .hide-in-portrait {
    display: none !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
