@import '_functions';
@import '_mixins';
@import '_variables';

:root {
  --background: #{$background-light-color};
  --on-background: #{$on-background-light-color};

  --surface1: #{$surface1-light-color};
  --surface2: #{$surface2-light-color};
  --surface3: #{$surface3-light-color};
  --on-surface: #{$on-surface-light-color};

  --scrim: #{$scrim-light-color};

  --primary: #{$primary-color};
  --on-primary: #{$on-primary-color};
  --primary-variant: #{$primary-variant-color};
  --on-primary-variant: #{$on-primary-variant-color};

  --secondary: #{$secondary-color};
  --secondary-variant: #{$secondary-variant-color};
  --on-secondary: #{$on-secondary-color};
  --on-secondary-variant: #{$on-secondary-variant-color};

  --focus: #{$focus-color};
  --on-focus: #{$on-focus-color};

  --error: #{$error-color};
  --on-error: #{$on-error-color};

  --success: #{$success-color};
  --on-success: #{$on-success-color};

  --warning: #{$warning-color};
  --on-warning: #{$on-warning-color};

  --disabled: #{$disabled-color};
  --on-disabled: #{$on-disabled-color};

  // sizes
  --vh: 1vh;
  --padding: #{$padding};
  --scrollbar-size: #{$scrollbar-size};

  --navbar-height: 0px;
  --bottomnav-height: 0px;

  --container-padding: #{$container-padding};
  --container-bottom-padding: env(safe-area-inset-bottom);
}

// Media queries
/* default CSS will target portrait screens */
@media only screen and (orientation: landscape) {
  :root {
    // sizes
    --padding: #{$padding * 1.5};
    --container-padding: #{$container-padding * 1.5};
  }
}

// Media queries
@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark-color};
    --on-background: #{$on-background-dark-color};

    --surface1: #{$surface1-dark-color};
    --surface2: #{$surface2-dark-color};
    --surface3: #{$surface3-dark-color};
    --on-surface: #{$on-surface-dark-color};

    --scrim: #{$scrim-dark-color};
  }
}

html {
  background-color: var(--background);
  color: var(--on-background);

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  touch-action: manipulation;
}

// Overrides
@import '_overrides';

// Typography
@import '_typography';

// utilities
@import '_utilities';

// components
@import 'components/_alert';
@import 'components/_actionsheet';
@import 'components/_badge';
@import 'components/_bottomnav';
@import 'components/_button';
@import 'components/_checkbox';
@import 'components/_chip';
@import 'components/_container.scss';
@import 'components/_datetimepicker';
@import 'components/_dialog';
@import 'components/_dialogalert';
@import 'components/_dialogform';
@import 'components/_dropdown';
@import 'components/_fixedactionbuttons';
@import 'components/_flippable';
@import 'components/_icon';
@import 'components/_imageinput';
@import 'components/_inputs';
@import 'components/_list';
@import 'components/_listitem';
@import 'components/_menudropdown';
@import 'components/_navbar';
@import 'components/_preloader';
@import 'components/_radio';
@import 'components/_range';
@import 'components/_sidebar';
@import 'components/_sidesheet';
@import 'components/_snackbar';
@import 'components/_switch';
@import 'components/_tabs';

// additional
@import 'additional/main/_loginform.scss';

@import 'additional/options/_optionform';

@import 'additional/menu/_menu.scss';

@import 'additional/food/_foodcard.scss';
@import 'additional/food/_food.scss';
@import 'additional/food/_foodlistdialog.scss';

@import 'additional/customer/_qrlanding.scss';
@import 'additional/customer/_cart.scss';
@import 'additional/customer/_assistancereasonsdialog.scss';

@import 'additional/orders/_orderitem.scss';
@import 'additional/orders/_orderdialog.scss';
@import 'additional/orders/_orderactivitydialog.scss';

@import 'additional/bills/_receipt.scss';

@import 'additional/cart/_cart.scss';

@import 'additional/admin/_adminsettings.scss';

@import 'additional/kitchen/_kitchen.scss';
@import 'additional/kitchen/_kitchenitem.scss';

@import 'additional/waiter/_waiter.scss';
@import 'additional/waiter/_waiteritem.scss';

@import 'additional/cashier/_cashier.scss';
@import 'additional/cashier/_cashieritem.scss';

@import 'additional/notification/_notificationitem.scss';
