$kitchenorderitem-status-colors: 'focus', 'error', 'success', 'warning';

.kitchenorderitem-content {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 8px;
  align-items: center;

  grid-template-areas:
    'statusbar'
    'info';

  .kitchenorderitem-statusbar {
    grid-area: statusbar;

    display: flex;
    align-items: center;

    @each $i in $kitchenorderitem-status-colors {
      .kitchenorderitem-status-#{$i} {
        background-color: var(--#{$i});
        color: var(--on-#{$i});

        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }

    .kitchenorderitem-time {
      @include body-2;
      opacity: 0.4;
    }
  }

  .kitchenorderitem-info {
    grid-area: info;

    .kitchenorderitem-info-name {
      @include body-1;
      line-height: 100%;

      margin-bottom: 6px;
    }

    .kitchenorderitem-info-customisation,
    .kitchenorderitem-info-additionalinstruction {
      @include body-2;
      font-size: 0.8rem;
    }

    .kitchenorderitem-info-additionalinstruction {
      color: var(--error);
    }
  }
}
