.kitchen {
  height: calc(var(--vh) * 100);
  padding-left: 0;
  padding-right: 0;

  .kitchen-orders {
    height: 100%;

    @include media(portrait) {
      overflow: auto;
      @include custom-scrollbar;
      padding: var(--scrollbar-size);

      .kitchenitem {
        margin-bottom: 16px;
      }
    }

    @include media(landscape) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
      grid-auto-columns: minmax(40%, 1fr);
      grid-auto-rows: 100%;
      grid-auto-flow: column;

      column-gap: var(--padding);

      padding-left: var(--padding);
      padding-right: var(--padding);
      padding-bottom: var(--padding);

      overflow-x: auto;
      @include custom-scrollbar;

      .kitchenitem:last-child {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 100%;
          width: var(--padding);
          height: 100%;
        }
      }
    }
  }
}
