.customer-qr-landing {
  height: calc(var(--vh) * 100);

  display: grid;

  @include media(portrait) {
    grid-template-rows: 3fr 2fr;
  }

  @include media(landscape) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 128px;
  }

  .table-info {
    display: grid;
    align-content: center;
    text-align: center;
    grid-gap: 8px;

    .table-info-caption {
      @include heading-2;
      text-transform: uppercase;
    }

    .table-info-name {
      line-height: 100%;
    }
  }

  .button-group {
    display: grid;
    align-content: center;
    grid-gap: 16px;

    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
