.customer-qr-landing {
  display: grid;
  overflow: hidden;

  .table-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    padding: 2rem 0;

    .table-info-caption {
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    .table-info-name {
      overflow-y: auto;
    }
  }

  .button-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    padding: 0 10vw;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 8px 0;
    }
  }
}

// Media queries
/* default CSS will target portrait screens */
@media only screen and (orientation: portrait) {
  .customer-qr-landing {
    grid-template-rows: 1fr auto;
  }
}

@media only screen and (orientation: landscape) {
  .customer-qr-landing {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 64px;

    .table-info {
      padding: 0 5vw;
    }

    .button-group {
      margin-bottom: 0;
      justify-content: center;
      padding: 0 5vw;
    }
  }
}
