$orderitem-status-colors: 'surface3', 'focus', 'error', 'success', 'warning';

.orderitem {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 8px;
  align-items: center;

  @include media(portrait) {
    grid-template-columns: 5fr 2fr 3fr;
  }

  @include media(landscape) {
    grid-template-columns: 7fr 1fr 2fr;
  }

  grid-template-areas:
    'orderitem-statusbar orderitem-qty orderitem-price'
    'orderitem-info orderitem-qty orderitem-price';

  .orderitem-statusbar {
    grid-area: orderitem-statusbar;

    display: flex;
    align-items: center;

    @each $i in $orderitem-status-colors {
      .orderitem-status-#{$i} {
        background-color: var(--#{$i});
        color: var(--on-#{$i});

        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        margin-right: 8px;
        flex-shrink: 0;
      }
    }

    .orderitem-status-info {
      @include body-2;
      opacity: 0.3;
    }
  }

  .orderitem-info {
    grid-area: orderitem-info;

    .orderitem-info-name {
      @include body-1;
      line-height: 100%;

      margin-bottom: 6px;
    }

    .orderitem-info-customisation {
      @include body-2;
      opacity: 0.7;
    }

    .orderitem-info-additionalinstruction {
      @extend .badge;
      @extend .badge-small;
      background-color: var(--surface3);
      color: var(--on-surface);
    }
  }

  .orderitem-qty,
  .orderitem-price {
    @include caption;
    font-size: 0.9rem;
    text-transform: none;
    text-align: right;
  }

  .orderitem-qty {
    grid-area: orderitem-qty;
  }
  .orderitem-price {
    grid-area: orderitem-price;
  }
}
