.login {
  max-width: 500px;

  display: flex;
  flex-direction: column;

  .login-header {
    @include heading-1;
    text-align: center;

    margin-top: 32px;
  }

  .login-content {
    padding-top: var(--padding);
    padding-bottom: var(--padding);

    display: grid;
    row-gap: 8px;
  }

  .login-footer {
    border-bottom-left-radius: 48px !important;
    border-bottom-right-radius: 48px !important;
  }
}
