/* Variables */
// colors
$actionsheet-color: var(--primary);
$on-actionsheet-color: var(--on-primary);

// border-radius
$actionsheet-action-border-radius: 16px;

.actionsheet-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 100);

  z-index: $actionsheet-elevation;

  // before animation
  backdrop-filter: blur(0px);
  background-color: transparent;

  .actionsheet {
    position: absolute;
    bottom: calc(var(--padding) + env(safe-area-inset-bottom));
    left: 0;
    right: 0;

    width: 90vw;
    max-width: 400px;

    margin: 0 auto;

    // Before animation state
    transform: translateY(calc(100% + var(--padding)));

    .action {
      // using <button> as html element
      position: relative;
      width: 100%;

      display: block;
      padding: 16px;

      background-color: $actionsheet-color;
      color: $on-actionsheet-color;

      @include body-1;
      font-size: 0.8rem;

      // Highlight button on tap
      &:hover,
      &:active {
        filter: brightness(1.2);
      }

      &:first-child {
        border-top-left-radius: $actionsheet-action-border-radius;
        border-top-right-radius: $actionsheet-action-border-radius;
      }

      &:not(:last-child):not(:nth-last-child(2)) {
        margin-bottom: 2px;
      }

      &:nth-last-child(2) {
        border-bottom-left-radius: $actionsheet-action-border-radius;
        border-bottom-right-radius: $actionsheet-action-border-radius;
      }

      &:last-child {
        margin-top: 16px;
        border-radius: $actionsheet-action-border-radius;
      }
    }
  }
}
