/* Variables */
$bottom-nav-padding: calc(var(--padding) / 2);

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--surface1);
  color: var(--on-surface);
  z-index: $bottomnav-elevation;

  // to center bottom nav items since there is a max-width
  display: flex;
  justify-content: center;

  .bottom-nav-items {
    padding: $bottom-nav-padding;
    padding-bottom: calc(env(safe-area-inset-bottom) + #{$bottom-nav-padding});

    width: 100%;
    max-width: $max-container-size;

    display: flex;
    justify-content: space-around;
  }
}
