.dialog-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 100);

  z-index: $dialog-elevation;

  // before animation
  backdrop-filter: blur(0px);
  background-color: transparent;

  display: grid;
  place-items: center;

  .dialog {
    max-width: 90vw;
    max-height: 80vh;

    @include media(landscape) {
      max-width: $max-dialog-size;
    }

    transform: scale(0);
    opacity: 0;

    overflow: auto;
    @include custom_scrollbar;

    &.dialog-fullscreen {
      min-width: 100vw !important;
      min-height: calc(var(--vh) * 100) !important;
      max-width: 100vw !important;
      max-height: calc(var(--vh) * 100) !important;

      // before animation state
      transform: translateX(100%);
    }
  }
}
