.dialog-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 100);

  z-index: $dialog-elevation;

  // before animation
  backdrop-filter: blur(0px);
  background-color: transparent;

  display: grid;
  place-items: center;

  .dialog {
    @include box-shadow(4);

    background: var(--background);
    color: var(--on-background);

    transform: scale(0.3);

    &.dialog-fullscreen {
      width: 100vw;
      height: 100vh;

      // before animation state
      transform: translateX(100%);
    }
  }
}
