/* Dropdown Variables */
$dropdown-height: $icon-size;
$dropdown-padding: 16px;
$dropdown-border-radius: 16px;
$dropdown-border-size: 2px;

.dropdown-group {
  display: grid;
  grid-gap: 4px;

  @include input-label;

  .dropdown-wrapper {
    position: relative;

    .dropdown {
      height: $dropdown-height;
      margin: $dropdown-border-size;

      background-color: var(--surface1);
      color: var(--on-surface);

      border-radius: $dropdown-border-radius;
      overflow: hidden;

      display: flex;
      justify-content: space-between;

      cursor: pointer;

      &.invalid {
        box-shadow: 0px 0px 0px $dropdown-border-size var(--error);
      }

      .dropdown-selected-option {
        flex: 1;
        height: 100%;
        padding: 0 $dropdown-padding;

        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        span {
          @include body-1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .dropdown-arrow-wrapper {
        height: $dropdown-height;
        width: $dropdown-height;

        .dropdown-arrow {
          width: 100%;
          height: 100%;
          background-color: transparent;

          display: flex;
          justify-content: center;
          align-items: center;

          &.options-shown {
            transform: rotate(180deg);
          }
        }
      }
    }

    .dropdown-options {
      position: absolute;
      z-index: 1;
      width: 100%;
      overflow-y: auto;
      @include custom-scrollbar;

      background-color: var(--surface2);
      color: var(--on-surface);

      @include box-shadow(2);

      padding-left: $dropdown-padding;
      padding-right: $dropdown-padding;
      padding-top: $dropdown-padding / 3;
      padding-bottom: $dropdown-padding / 3;

      border-radius: $dropdown-border-radius / 2;

      cursor: pointer;

      .dropdown-option {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        span {
          @include body-1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--surface3);
        }
      }
    }
  }
}
