/* Variables */
$image-input-input-size: $icon-size;
$image-input-group-margin: 1rem 0;

.image-input-group {
  display: flex;
  flex-direction: column;
  margin: $image-input-group-margin;

  .image-input {
    display: flex;
    justify-content: space-between;

    label {
      align-self: center;

      @include body-1();
      text-transform: capitalize;
    }

    input[type='file'] {
      display: none;
    }
  }

  .image-input-message {
    @include body-2();

    &.error-message {
      color: var(--error);
    }
  }

  .image-input-preview {
    margin-top: 8px;
    max-width: 100%;
    max-height: 100px;
    align-self: flex-start;
  }
}
