/* Variables */
$image-input-input-size: $icon-size;

.image-input-group {
  display: flex;
  flex-direction: column;

  .image-input {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    label {
      @include caption;
    }

    input[type='file'] {
      display: none;
    }
  }

  .image-input-preview {
    margin-top: 8px;

    max-height: 150px;
    align-self: flex-start;
  }
}
