/* Input Field Variables */
$input-field-padding: 0.5rem 1rem;
$input-field-border-radius: 2rem;
$input-field-border-size: 2px;

.input-group {
  display: grid;
  grid-gap: 8px;

  @include input-label;

  .input-field {
    position: relative;

    margin: $input-field-border-size;

    input {
      width: 100%;
      padding: $input-field-padding;

      @include body-1;

      background-color: var(--surface2);
      color: var(--on-surface);

      border-radius: $input-field-border-radius;

      &:focus {
        box-shadow: 0px 0px 0px $input-field-border-size var(--focus);
      }

      &.invalid {
        box-shadow: 0px 0px 0px $input-field-border-size var(--error) !important;
      }
    }

    &.append-icon {
      input {
        // prevent input from overflowing/covering icon
        padding-right: $icon-size !important;
      }
    }

    .input-field-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $icon-size / 4;

      display: grid;
      place-items: center;

      cursor: pointer;
    }
  }
}
