.list {
  position: relative;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'items'
    'footer';

  .list-header {
    grid-area: header;
    margin-bottom: var(--padding);

    @include media(landscape) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: 'left search';

      .list-header-left {
        grid-area: left;
      }

      .list-header-search {
        grid-area: search;
      }
    }

    .list-header-left {
      display: flex;
      flex-direction: column;

      .list-title {
        @include heading-3;

        @include media(landscape) {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }

      .list-header-left-children {
        display: grid;
        row-gap: 4px;

        @include media(landscape) {
          grid-template-columns: repeat(auto-fill, 250px);
          column-gap: 12px;
        }

        .list-filter-group-with-btn {
          display: grid;
          align-items: end;
          grid-template-columns: 1fr auto;
          column-gap: 8px;
        }
      }
    }

    .list-header-search {
      margin-left: 12px;
      align-self: end;

      @include media(portrait) {
        margin-top: 8px;
      }
    }
  }

  .list-items {
    grid-area: items;

    overflow: auto;
    @include custom_scrollbar;
  }

  .list-footer {
  }
}
