/* Variables */
// navbar
$navbar-y-inner-padding: 8px;
$navbar-x-inner-padding: 16px;

// nav-item
$nav-item-size: 48px;
$nav-item-gap: 16px;

// sidebar-toggle
$sidebar-toggle-color: var(--primary);
$on-sidebar-toggle-color: var(--on-primary);

.navbar {
  padding: $navbar-y-inner-padding 0;
  padding-left: Max(#{$navbar-x-inner-padding}, env(safe-area-inset-left));
  padding-right: Max(#{$navbar-x-inner-padding}, env(safe-area-inset-right));

  display: flex;
  align-items: center;

  user-select: none;

  .navbar-logo {
    max-width: 100%;
    height: $nav-item-size * 0.75;
    margin: ($nav-item-size * 0.25 / 2) 0;

    display: inline-grid;
    place-items: center;

    cursor: pointer;
  }

  .navbar-link {
    min-width: $nav-item-size;
    height: $nav-item-size;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    &.navbar-link-active {
      border-bottom: 4px solid var(--secondary);
    }
  }

  .sidebar-toggle {
    /* special styles for my own sidebar toggle */

    // move sidebar toggle to the most left of the sidebar
    margin-left: calc(
      Max(#{$navbar-x-inner-padding}, env(safe-area-inset-left)) * -1
    );

    width: calc(env(safe-area-inset-left) + #{$nav-item-size * 1.25});
    // padding-left: calc(env(safe-area-inset-left) + #{$nav-item-size * 0.5});
    padding-left: calc(env(safe-area-inset-left));

    border-radius: 0 16px 16px 0;

    background: $sidebar-toggle-color;
    color: $on-sidebar-toggle-color;

    /* special styles for my own sidebar toggle */

    order: -1;
  }

  .navbar-left {
    flex: 1;

    display: flex;
    place-items: center;
    flex-wrap: wrap;

    & > *:not(:first-child) {
      margin-left: $nav-item-gap;
    }
  }

  .navbar-right {
    flex: 1;

    display: flex;
    place-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    & > *:not(:first-child) {
      margin-right: $nav-item-gap;
    }
  }

  .navbar-center {
    display: flex;
    place-items: center;
  }
}

// Media queries
/* default CSS will target portrait screens */
@media only screen and (orientation: landscape) {
  .navbar {
    padding: ($navbar-y-inner-padding * 1.5) 0;
    padding-left: Max(
      #{$navbar-x-inner-padding * 1.5},
      env(safe-area-inset-left)
    );
    padding-right: Max(
      #{$navbar-x-inner-padding * 1.5},
      env(safe-area-inset-right)
    );

    .navbar-left {
      & > *:not(:first-child) {
        margin-left: $nav-item-gap * 1.5;
      }
    }

    .navbar-right {
      & > *:not(:first-child) {
        margin-right: $nav-item-gap * 1.5;
      }
    }
  }
}
