/* Variables */
// navbar
$navbar-y-padding: calc(var(--padding) / 2);
$navbar-x-padding: calc(var(--padding));

// nav-item
$nav-item-height: 48px;
$nav-item-gap: var(--padding);

.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  z-index: $navbar-elevation;
  @include box-shadow(1);

  background-color: var(--background);
  color: var(--on-background);

  padding: $navbar-y-padding
    Max(
      #{$navbar-x-padding},
      env(safe-area-inset-left),
      env(safe-area-inset-right)
    );

  display: grid;
  grid-auto-flow: column;
  align-items: center;

  &.navbar-center-present {
    grid-template-areas: 'left center right';
    grid-template-columns: 1fr auto 1fr;

    .navbar-left {
      grid-area: left;
    }
    .navbar-center {
      grid-area: center;
    }
    .navbar-right {
      grid-area: right;
    }
  }

  .navbar-left,
  .navbar-center,
  .navbar-right {
    display: flex;
  }

  .navbar-left > *:not(:first-child),
  .navbar-center > *:not(:first-child) {
    margin-left: $nav-item-gap;
  }

  .navbar-right {
    flex-direction: row-reverse;

    & > *:not(:first-child) {
      margin-right: $nav-item-gap;
    }
  }

  .navbar-logo {
    max-width: 100%;
    height: $nav-item-height;

    cursor: pointer;

    @extend .invert-in-dark-mode;
  }

  .navbar-link {
    @include button-text;
    height: $nav-item-height;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    transition: border-color 0.5s;

    &.navbar-link-active {
      border-bottom: 4px solid var(--secondary);
    }
  }
}
