.preloader {
  fill: $primary-color;
  margin: auto;
  display: block;
  shape-rendering: auto;
}

.spinner-fullscreen {
  display: grid;
  place-items: center;
  height: calc(100 * var(--vh));
  width: 100vw;
}

.spinner {
  fill: $primary-color;
  margin: auto;
  display: block;
  shape-rendering: auto;
}

@media (prefers-color-scheme: dark) {
  .preloader,
  .spinner {
    filter: brightness(0) invert(1);
  }
}
