/* Variables */
$radio-input-size: $icon-size;
$radio-input-color: var(--secondary);

.radio-group {
  display: grid;
  grid-gap: 4px;
  user-select: none;

  @include input-label;

  .radio-inputs {
    .radio-input {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;

      &.radio-input-inline {
        display: inline-grid;
        margin-right: 1rem;
      }

      input {
        position: relative;
        width: $radio-input-size;
        height: $radio-input-size;

        @include body-1();

        cursor: pointer;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          border-radius: 50%;
        }

        &:before {
          width: 25%;
          height: 25%;
          box-shadow: 0px 0px 0px 2px currentColor;
        }

        &:after {
          width: 0;
          height: 0;
        }

        &:checked {
          &:before {
            box-shadow: 0px 0px 0px 2px $radio-input-color;
          }

          &:after {
            width: calc(25% - 4px);
            height: calc(25% - 4px);
            background-color: $radio-input-color;
          }
        }
      }

      .radio-input-key {
        @include body-1;

        // override from label
        text-transform: none;
        cursor: pointer;
      }
    }
  }
}
