// variables
.sidesheet {
  background-color: var(--background);
  color: var(--on-background);
  @include box-shadow(3);

  @include media(landscape) {
    border-radius: 24px;
  }

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'sidesheet-header'
    'sidesheet-content'
    'sidesheet-footer';

  .sidesheet-header {
    grid-area: sidesheet-header;

    background-color: var(--surface2);
    color: var(--on-surface);

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: grid;
    grid-template-columns: $icon-size 1fr $icon-size;
    grid-template-rows: auto auto;
    grid-template-areas:
      'sidesheet-header-close-btn sidesheet-header-title sidesheet-header-more-btn'
      'sidesheet-header-content sidesheet-header-content sidesheet-header-content';

    .sidesheet-header-close-btn {
      grid-area: sidesheet-header-close-btn;
    }

    .sidesheet-header-title {
      align-self: center;
      grid-area: sidesheet-header-title;

      @include heading-3;
      text-align: center;
    }

    .sidesheet-header-more-btn {
      grid-area: sidesheet-header-more-btn;
    }

    .sidesheet-header-content {
      grid-area: sidesheet-header-content;
      margin-top: 8px;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .sidesheet-content {
    grid-area: sidesheet-content;

    padding: var(--padding);

    overflow: auto;
    @include custom-scrollbar;

    .input-group:not(:first-child),
    .image-input-group:not(:first-child),
    .radio-group:not(:first-child),
    .checkbox-group:not(:first-child),
    .switch-group:not(:first-child),
    .row:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .sidesheet-footer {
    grid-area: sidesheet-footer;
  }
}
