/* Variables */
$sidebar-width: 300px;

$sidebar-padding: var(--padding);
$sidebar-item-height: 48px;

$sidebar-content-justify-types: 'start', 'end', 'center', 'space-between',
  'space-around', 'space-evenly';

.sidebar-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 100);

  z-index: $sidebar-elevation;

  // before animation
  backdrop-filter: blur(0px);
  background-color: transparent;

  .sidebar {
    height: 100%;
    width: $sidebar-width;

    padding-top: $sidebar-padding;
    padding-bottom: Max(#{$sidebar-padding}, env(safe-area-inset-bottom));
    padding-left: Max(#{$sidebar-padding}, env(safe-area-inset-left));
    padding-right: Max(#{$sidebar-padding}, env(safe-area-inset-left));

    background-color: var(--background);
    color: var(--on-background);

    // before animation state
    transform: translateX(-100%);

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'sidebar-header' 'sidebar-content' 'sidebar-footer';
    grid-gap: var(--padding);

    .sidebar-logo {
      max-width: 100%;
      height: $sidebar-item-height;
      margin: 0 auto;

      cursor: pointer;
    }

    .sidebar-divider {
      margin-top: var(--padding);
      margin-bottom: var(--padding);
    }

    .sidebar-link {
      flex-shrink: 0;
      height: $sidebar-item-height;
      display: flex;
      align-items: center;
      cursor: pointer;

      .sidebar-link-icon {
        height: $icon-size;

        display: grid;
        place-items: center;

        margin-right: $icon-size / 4;
      }

      .sidebar-link-name {
        flex: 1;
        @include button-text;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.active {
        color: var(--secondary);
      }
    }

    .sidebar-header {
      display: flex;
      grid-area: sidebar-header;
      justify-content: center;
    }

    .sidebar-content {
      display: flex;
      grid-area: sidebar-content;
      flex-direction: column;

      overflow: auto;
      @include custom-scrollbar;
      padding: 0 var(--scrollbar-size);

      @each $i in $sidebar-content-justify-types {
        &.sidebar-content-justify-#{$i} {
          @if $i == 'start' {
            justify-content: flex-start;
          } @else if $i == 'end' {
            justify-content: flex-end;
          } @else {
            justify-content: #{$i};
          }
        }
      }
    }

    .sidebar-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: sidebar-footer;

      flex-direction: column;
    }
  }
}
