/* Variables */
// sidebar
$sidebar-y-padding: 16px;
$sidebar-x-padding: 16px;
$sidebar-link-height: 48px;

.sidebar-scrim {
  position: fixed;
  width: 100vw;
  height: calc(var(--vh) * 100);
  z-index: $sidebar-elevation;

  // original
  // background-color: var(--scrim);

  // before animation
  background-color: rgba(0, 0, 0, 0);

  .sidebar {
    user-select: none;
    z-index: $sidebar-elevation;

    height: calc(var(--vh) * 100);
    width: calc(30vmax + env(safe-area-inset-left));

    padding-top: $sidebar-y-padding;
    padding-bottom: Max(#{$sidebar-y-padding}, env(safe-area-inset-bottom));

    background-color: var(--background);
    color: var(--on-background);

    @include box-shadow($sidebar-elevation);

    // before animation state
    transform: translateX(-100%);

    // after animation state
    // transform: translateX(0);

    display: flex;
    flex-direction: column;

    .sidebar-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 $sidebar-x-padding;
    }

    .sidebar-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 $sidebar-x-padding;

      overflow-y: auto;

      .sidebar-link {
        flex-basis: $sidebar-link-height;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.sidebar-link-active {
          color: var(--secondary);
        }
      }
    }

    .sidebar-footer {
      display: flex;
      flex-direction: column;
      place-items: center;
    }
  }
}
