/* Variables */
$sidebar-width: 300px;

$sidebar-padding: var(--padding);
$sidebar-item-height: 48px;

.sidebar-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 100);

  z-index: $sidebar-elevation;

  // before animation
  backdrop-filter: blur(0px);
  background-color: transparent;

  .sidebar {
    height: 100%;
    width: $sidebar-width;

    padding-top: $sidebar-padding;
    padding-bottom: Max(#{$sidebar-padding}, env(safe-area-inset-bottom));
    padding-left: Max(#{$sidebar-padding}, env(safe-area-inset-left));
    padding-right: Max(#{$sidebar-padding}, env(safe-area-inset-left));

    background-color: var(--background);
    color: var(--on-background);

    // before animation state
    transform: translateX(-100%);

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'sidebar-header' 'sidebar-content' 'sidebar-footer';

    .sidebar-logo {
      max-width: 100%;
      height: $sidebar-item-height;

      cursor: pointer;

      @extend .invert-in-dark-mode;
    }

    .sidebar-link {
      @include button-text;
      height: $sidebar-item-height;

      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;

      cursor: pointer;

      &.sidebar-link-active {
        color: var(--secondary);
      }
    }

    .sidebar-header,
    .sidebar-content,
    .sidebar-footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sidebar-header {
      grid-area: sidebar-header;
    }

    .sidebar-content {
      grid-area: sidebar-content;

      flex-direction: column;
      overflow-y: auto;
    }

    .sidebar-footer {
      grid-area: sidebar-footer;

      flex-direction: column;
    }
  }
}
