/* Variables */
$snackbar-padding: 0.5rem;
$snackbar-border-radius: 0.5rem;

$snackbar-colors: 'primary', 'secondary', 'error', 'success', 'warning';

/* Animation */
@keyframes snackbarAnimationIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.snackbar-wrapper {
  position: fixed;
  bottom: 2vh;

  width: 100vw;

  z-index: $snackbar-elevation;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  .snackbar {
    width: 95vw;

    @include media(landscape) {
      max-width: 50vw;
    }

    background-color: var(--surface3);
    color: var(--on-surface);

    padding: ($snackbar-padding) ($snackbar-padding * 2);

    border-radius: $snackbar-border-radius;

    @include box-shadow(2);

    opacity: 1;
    animation: snackbarAnimationIn 0.5s ease-in-out;

    cursor: pointer;
    pointer-events: auto;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @each $i in $snackbar-colors {
      &.snackbar-#{$i} {
        background-color: var(--#{$i});
        color: var(--on-#{$i});
      }
    }

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    .snackbar-msg {
    }

    .snackbar-action-btn {
    }
  }
}
