/* Variables */
$tab-height: 48px;
$tab-y-padding: 8px;

$tabs-border-height: 2px;

$tab-min-width: 100px;

.tabs-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  .tabs {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    padding-bottom: $scrollbar-size;

    .tab {
      flex: 1;
      flex-shrink: 0;
      flex-basis: $tab-min-width;

      min-height: $tab-height;
      padding: $tab-y-padding 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      cursor: pointer;
      user-select: none;

      border-bottom: $tabs-border-height solid var(--surface3);

      .tab-name {
        width: 80%;
        text-align: center;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .tab-active {
      color: var(--secondary);
    }

    .tab-active-line {
      position: absolute;
      left: 0;
      bottom: $scrollbar-size;
      width: 0;
      height: $tabs-border-height;
      background-color: var(--secondary);
    }
  }

  .tab-contents-wrapper {
    height: 100%;
    overflow-x: hidden;

    .tab-contents {
      height: 100%;
      display: flex;

      .tab-content {
        height: 100%;
        min-width: 100%;
        overflow-y: auto;

        &.tab-content-wont-slide {
          display: none;
        }

        &.tab-content-wont-slide-active {
          display: block;
        }
      }
    }
  }
}
