/* Variables */
$tab-spacing: 8px;
$tabs-justify-types: 'start', 'end', 'center', 'space-between', 'space-around',
  'space-evenly';

.tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  &.tabs-header-only {
    height: auto;
  }

  .tabs-header {
    flex-shrink: 0;
    grid-area: tabs-header;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    overflow-x: auto;
    @include custom-scrollbar;
    padding-bottom: var(--scrollbar-size);

    @each $i in $tabs-justify-types {
      &.tabs-justify-#{$i} {
        @if $i == 'start' {
          .tab-name:not(:first-child) {
            margin-left: $tab-spacing;
          }
        } @else if $i == 'end' {
          flex-direction: row-reverse;

          .tab-name:not(:first-child) {
            margin-right: $tab-spacing;
          }
        } @else if $i == 'center' {
          justify-content: center;

          .tab-name {
            margin-left: $tab-spacing / 2;
            margin-right: $tab-spacing / 2;
          }
        } @else {
          justify-content: #{$i};
        }
      }
    }

    .tab-name {
      @include caption;
      color: inherit;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 8px 16px;
      border-radius: 16px;

      cursor: pointer;

      opacity: 0.4;
      transition: opacity 0.3s, background-color 0.3s, color 0.3s;

      &.active {
        opacity: 1;
        background-color: var(--primary);
        color: var(--on-primary);
      }
    }
  }

  .tab-content {
    flex: 1;
    overflow: auto;
    @include custom-scrollbar;

    &.hidden {
      display: none;
    }
  }
}
