.waiter {
  position: relative;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'list';

  .waiter-header {
    grid-area: header;
    margin-bottom: 8px;

    background-color: var(--primary);
    color: var(--on-primary);

    padding: var(--padding);
    border-radius: 12px;

    .occupied,
    .empty {
      display: flex;
      justify-content: space-between;
      @include body-1;
    }
  }

  .waiter-tables {
    grid-area: list;

    overflow: auto;
    @include custom-scrollbar;
  }

  .waiter-notification-btn {
    position: absolute;
    bottom: var(--padding);
    right: var(--padding);

    z-index: $fab-elevation;
    @include box-shadow(2);
  }
}
